* {
    font-family: 'Monda', sans-serif;
    color: #391910;
}
@font-face {
    font-display: fallback;
}

.App {
    background-color: #fffdf5;
}

footer {
    text-align: end;
    margin-top: 5rem;
}

header {
    text-align: end;

}

.headerLink:hover {
    text-shadow: 2px 2px #fddad1;
}

.headerLink {
    text-decoration: none;
    color: #EF6351;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 1rem;
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 1.5s;
}

.counter {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    font-size: 6rem;
    color: #EF6351;
    -webkit-text-stroke: 0.2px #391910;
    text-align: center;
    margin: 2rem;
}

.titleWrapper {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    font-size: 4rem;
    color: #EF6351;
    text-shadow: 1px 1px #391910;
    animation: type 2s steps(60, end);
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
}

@keyframes type {
    from {
        width: 0;
    }
}

img {
    width: 40%;
    background-color: #ffd6d1;
    border-radius: 50%;
    padding: 4rem;
    margin: 2rem;
}

h4 {
    color: #EF6351;
    font-size: 1.5rem;
}

.cardWrapper {
    opacity: 0;
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
    animation: fadein 2s forwards;
    animation-delay: 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    text-align: center;
    margin: 2rem;
}

#about-me {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    margin-right: 4rem;
}

#my-projects {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 4rem;
}

#contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: end;
    margin-right: 4rem;
}

.contactLink {
    text-decoration: none;
    color: #EF6351;
    font-weight: bolder;
}

.contactLink:hover {
    text-shadow: 2px 2px #fddad1;
}
.rightImg {
    justify-self: end;
    animation-name: shakeMe;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}
.rightImgHidden{
    display: none;
}

.leftImg{
    animation-name: shakeMe;
    animation-duration: 10s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}
#phone:hover {
    cursor: url("./sparkler.png"), auto;
}

#phone:active {
    animation: rotate 2s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shakeMe {
    2%, 18% {
        transform: translate3d(-3px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(3px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-3px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(3px, 0, 0);
    }

    18.1% {
        transform: translate3d(0px, 0, 0);
    }
}


#birthdayCard:active {
    animation: rotate 2s;
}

#birthdayCard:hover {
    cursor: url("./sparkler.png"), auto;
}

#girl:hover {
    cursor: url("./sparkler.png"), auto;
}

#girl:active {
    animation: rotate 2s;
}

.aboutMeText {
    text-align: center;

}

.aboutMeTextTitle {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: start;
}

li {
    text-decoration: none;
}

li:hover {
    color: #EF6351;
    cursor: pointer;
}

.liActive {
    color: #EF6351;
    font-weight: bolder;
}

.projectWrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.projectTitle {
    color: #EF6351;
    font-weight: bolder;
}

.project {
    min-width: 10rem;
    min-height: 15rem;
    padding: 2rem;
    padding-bottom: 0;
    border: dotted 5px #ffd6d1;
    text-align: justify;
}

.project:after {
    content: "";
    display: inline-block;
    width: 100%;
}

hr {
    color: #ffd6d1;
    opacity: 0.5;
}

.projectButtonWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: end;
}

.projectButton {
    text-decoration: none;
    background-color: #EF6351;
    border-radius: 25px;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 10px #ffd6cb;
    color: white;
}

.projectButton:hover {
    background-color: #fa7361;
}
.projectButton:active {
    background-color: #d04e3d;
}

@media only screen and (max-width: 1420px) {
    .projectButton {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}

@media only screen and (max-width: 1035px) {
    h1 {
        font-size: 2rem;
    }

    .headerLink {
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 2px;
        margin-left: 1rem;
    }

    img {
        width: 40%;
        padding: 2rem;
        align-self: center;
    }
}

@media only screen and (max-width: 960px) {
    img {
        width: 50%;
        padding: 1.5rem;
        align-self: center;
    }

    .cardWrapper {
        margin: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .projectButton {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .cardWrapper {
        margin: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
    }

    #about-me {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        margin-right: 0;
    }

    #my-projects {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: center;
        margin-left: 0;
    }

    #contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
        justify-self: center;
        margin-right: 0;
    }

    .rightImg {
        justify-self: center;
    }

    .leftImg {
        justify-self: center;
    }

    img {
        width: 20%;
        padding: 1rem;
        align-self: center;
    }

    .card {
        margin: 0;
    }

    h1 {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .projectButton {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}

@media only screen and (max-width: 510px) {
    h1 {
        font-size: 1.5rem;
    }

    .projectWrapper {
        display: grid;
        grid-template-columns: auto;
    }

    hr {
        display: none;
    }

    img {
        width: 30%;
        padding: 0.4rem;
    }

    h4 {
        margin-top: 0.5rem;
    }

    header {
        text-align: center;
    }

    .headerLink {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 360px) {
    .projectButton {
        grid-column-start: 1;
        grid-column-end: 7;
    }
}
