*{
    font-family: 'Monda', sans-serif;
    color: #391910;
}
.App{
    background-color: #fffdf5;
}
footer{
    text-align: end;
    margin-top: 5rem;
}
header{
    text-align: end;
}
.headerLink{
    text-decoration: none;
    color: #EF6351;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 1rem;
}
.headerLink:hover{
    text-shadow: 2px 2px #fddad1;
}
.counter{
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    font-size: 6rem;
    color: #EF6351;
    -webkit-text-stroke: 0.2px #391910;
    text-align: center;
    margin: 2rem;
}
.titleWrapper{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    font-size: 4rem;
    color: #EF6351;
    -webkit-text-stroke: 0.2px #391910;
    animation: type 2s steps(60, end);
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
}
@keyframes type{
    from { width: 0; }
}
.header{
    text-align: end;
}
img{
    width: 40%;
}
.headerLink{
    text-decoration: none;
    color: #EF6351;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-left: 1rem;
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 1.5s;
}
.headerLink:hover{
    text-shadow: 2px 2px #fddad1;
}
h4{
    color: #EF6351;
    font-size: 1.5rem;
}
.cardWrapper{
    opacity: 0;
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
    animation: fadein 2s forwards;
    animation-delay: 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.card{
    text-align: center;
    margin: 2rem;
}
#about-me{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    margin-right: 4rem;
}
#my-projects{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 4rem;
}
#contact{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: end;
    margin-right: 4rem;
}
.leftImg{
    justify-self: end;
}
img{
    background-color: #ffd6d1;
    border-radius: 50%;
    padding: 4rem;
    margin: 2rem;
}
.contactLink{
    text-decoration: none;
    color: #EF6351;
    font-weight: bolder;
}
.contactLink:hover{
    text-shadow: 2px 2px #fddad1;
}
#phone:hover{
    cursor: url("./sparkler.png"), auto;
}
#phone:active{
    animation: rotate 2s ;
}
@keyframes rotate {
    100% {transform: rotate(360deg); }
}
#birthdayCard:active{
    animation: rotate 2s;
}
#birthdayCard:hover{
    cursor: url("./sparkler.png"), auto;
}
#girl:hover{
    cursor: url("./sparkler.png"), auto;
}
#girl:active{
    animation: rotate 2s;
}